*{
    margin: 0;
    padding: 0;
}
body{
    font-weight: 400;
    font-family: Helvetica,Arial,sans-serif;
    color:#747474;
    padding-top: 70px;
}

/* nav */

nav{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #ffffff;
    transition:all .2s ease 0s;
}


.banner{
    max-width: 1100px;
    padding: 18px 20px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    
}

.main_menu a{
    text-decoration: none;
    color: inherit;
}

.main_menu> div{
    display: flex;
}

.departments{
    position: relative;
}

.departments:hover .dropdown{
    display: block;
}

.dropdown{
    float: right;
    display: none;
    list-style: none;
    position: absolute;
    z-index: 2;
    width: 300px;
    left:-100px;
    
}

.dropdown li{
    background: #ffffff;
    padding: 20px;
}


/* main */

h1{
    font-size: 2.125rem;
    color:#00b39b;
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lead>div{
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lead-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lead-desc{
    max-width: 475px;
    padding: 0 10px;
}

.services{
    max-width: 1100px;
    /* padding: 0 20px; */
    margin: 0 auto;
    position: relative;
    min-height: 415px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.patients{
    min-height: 375px;
    max-width: 420px;
    padding: 22 40 0 40px;
    background: #00ccb1;
    border-radius: 10px;
    padding: 1.375em 2.5em 0;
    overflow: hidden;
    margin-right: 7px;
}

.doctors{
    min-height: 375px;
    max-width: 420px;
    padding: 22 40 0 40px;
    background: #3d83df;
    border-radius: 10px;
    padding: 1.375em 2.5em 0;
    overflow: hidden;
    margin-left: 7px;
}

.doctors .serv{
    margin-Left: 150px;
}

.service-desc>h2{
    font-size: 0.9em;
    color: #ffffff;
}

.service-desc>h1{
    font-size: 1.625em;
    color:#ffffff;
    margin-top: .3em;
}

#location-list{
    width: 175px;
    background: #ffffff;
    border-radius: 7px;
    /* padding: 0 3.5em 0 1.5em; */
    height: 40px;
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: inherit;
    font-family: inherit;
    columns: #000000;;
}
.serv{
    display: flex;

}

.services-fig{
    width: 395px;
}

.brands{
    max-width: 1100px;
    padding: 70px 0px 0px 0px;
    margin: 0 auto;
    position: relative;
    min-height: 115px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    justify-items: center;
}

.brands>h1{
    float: left;
    width: 320px;
    font-size: 1.625em;
    margin: .25em 0 .35em;
    padding-right: 1em;
}

.brands-logos{
    float: left;
    font-size: 0;
    width: 850px;
    list-style: none;
    margin: 40 40 0 0px;

}

.brands-logos svg{
    fill: lightgray;
    height: 20px;
}

.brands-logos svg :hover{
    fill: #00ccb1;
}

.grid{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}

.headline{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-right: 40px;
}

.headline p{
    margin-top: 50px;
}



.stats{
    background: #d6f5f6;
    padding: 1.875em 0 .625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogo{
    margin-top: 80px;
    
}

.stats-item{
    width:230px;
    height: 250px;
    padding: 20px;
    border-radius: 7px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.stats-item h3{
    font-size: 1.5rem;
    color:#00b39b;
}

.stats-grid{
    margin-top: 130px;
    max-width: 475px;
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
    align-items: center;
}

.stats-item img{
    width: 40px;
    height: 40px;
}

.stats-column1{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    /* margin-top: 30px; */
}

.stats-column2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /* margin-bottom: 30px; */
    transform: translatey(-20px);
}

.stats-item{
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 5px;
}

.offices{
    margin-top: 5.5rem;
    margin-bottom: 8rem;
    max-width: 1100px;
    padding: 0 20px;
    position: relative;
    min-height: 980px;
}


.whole{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offices-head{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offices-head h1{
    margin-bottom: 50px;
}


.offices-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.slide{
    text-decoration: none;
}

.office{
    width: 340px;
    border: 2px lightgray solid;
    border-radius: 4px;
    margin: 5px 5px ;
    max-height: 370px;
}
.office img{
    width: 340px;
}

.office-desc{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background: #ffffff;
}

.office-name{
    text-decoration: none;
    color: gray;
}

.office:hover{
    box-shadow: -3px 4px 29px -15px rgba(0,0,0,0.75);
}


button{
    background: #3d83df;
    float: right;
    border-radius: 4px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #ffffff;
    width: 110px;
    height: 30px;
    
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #eef2f2;
    font-size: .75em;
    color:#ababab;
    text-align: center;
    padding: 1em 0;
    min-height: 90px;
}

footer a{
    text-decoration: none;
}




